{% extends "app/layout.html" %}

{% block content %}

{% load static %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- original link -->
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css"> -->
<!-- Updated link. Version downgraded -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<!-- Original link -->
<!-- <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script> -->
<!-- The "defer" attribute in the <script> tag is used to ensure that the script is executed after the HTML document has been fully parsed and loaded.
     This means that the browser will download the script but not execute it until the HTML parsing is complete. -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" defer></script>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>




<!-- Filtering buttons -->
<div id="filteringBtnContainer">
    <button class="btn btn-default" onclick="filterSelection('all')"> Show all</button>
    <button class="btn btn-default " onclick="filterSelection('cars')"> Cars</button>
    <button class="btn btn-default " onclick="filterSelection('animals')"> Animals</button>
    <button class="btn btn-default " onclick="filterSelection('fruits')"> Fruits</button>
    <button class="btn btn-default " onclick="filterSelection('colors')"> Colors</button>
</div>




<!-- Range sliders -->
<div id="range-slider-cont">
    <div id="range-turnover-cont" class="financials-data" data-url="{% url 'financials-data' %}">
        <p>
            <label for="turnover">Turnover:</label>
            <input type="text" id="turnover" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <span id="turnover-min"></span>
        <div id="range-slider-turnover"></div>
        <span id="turnover-max"></span>
    </div>

    <div id="range-assets-cont" class="financials-data" data-url="{% url 'financials-data' %}">
        <p>
            <label for="assets">Total Assets:</label>
            <input type="text" id="assets" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <span id="assets-min"></span>
        <div id="range-slider-assets"></div>
        <span id="assets-max"></span>
    </div>

    <div id="range-profit-cont" class="financials-data" data-url="{% url 'financials-data' %}">
        <p>
            <label for="profit">Operating Profit:</label>
            <input type="text" id="profit" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <span id="profit-min"></span>
        <div id="range-slider-profit"></div>
        <span id="profit-max"></span>
    </div>

    <div id="range-cashflow-cont" class="financials-data" data-url="{% url 'financials-data' %}">
        <p>
            <label for="cashflow">Free Cash Flow Margin:</label>
            <input type="text" id="cashflow" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <span id="cashflow-min"></span>
        <div id="range-slider-cashflow"></div>
        <span id="cashflow-max"></span>
    </div>

    <div id="range-interestcover-cont" class="financials-data" data-url="{% url 'financials-data' %}">
        <p>
            <label for="interestcover">Interest Cover Ratio:</label>
            <input type="text" id="interestcover" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <span id="interestcover-min"></span>
        <div id="range-slider-interestcover"></div>
        <span id="interestcover-max"></span>
    </div>
</div>




<!-- Range slider and hide / show toggle button -->
<div class="sliderDropdown">
    <input type="checkbox" id="checkbox-toggle">
    <label for="checkbox-toggle">Financials Filters</label>
    <ul>
        <li><button value="turnover" onclick="rangeTurnover()">Turnover</button></li>
        <li><button value="assets" onclick="rangeAssets()">Assets</button></li>
        <li><button value="operating_profit" onclick="rangeProfit()">Operating Profit Margin</button></li>
        <li><button value="free_cash_flow_margin" onclick="rangeCashFlow()">Free Cash Flow Margin</button></li>
        <li><button value="interest_cover" onclick="rangeInterestCover()">Interest Cover</button></li>
    </ul>
</div>




<!-- Tiles of each company -->
<div id="filteringContainer">
    <button class="filterDiv btn cars" onclick="document.location={% url 'trading' %}"><figure><img src="{% static 'app/images/Board game company logo.svg' %}" width=150 height=150 alt=""><figcaption>Board Game Company</figcaption></figure></button>
    <button class="filterDiv btn colors fruits" onclick="document.location={% url 'trading' %}"><figure><img src="{% static 'app/images/Pizza company logo.svg' %}" width=150 height=150 alt=""><figcaption>Pizza Company</figcaption></figure></button>
    <button class="filterDiv btn cars" onclick="document.location={% url 'trading' %}"><figure><img src="{% static 'app/images/Building materials company logo.svg' %}" width=150 height=150 alt=""><figcaption>Building Materials<br>Company</figcaption></figure></button>
    <button class="filterDiv btn colors" onclick="document.location={% url 'trading' %}"><figure><img src="{% static 'app/images/Chemicals company logo.svg' %}" width=150 height=150 alt=""><figcaption>Chemicals Company</figcaption></figure></button>

    <button class="filterDiv btn cars"><a href="{% url 'trading' %}">Ford</a></button>
    <button class="filterDiv btn colors"><a href="{% url 'trading' %}">Blue</a></button>
    <button class="filterDiv btn animals"><a href="{% url 'trading' %}">Cat</a></button>
    <button class="filterDiv btn animals"><a href="{% url 'trading' %}">Dog</a></button>
    <button class="filterDiv btn fruits"><a href="{% url 'trading' %}">Melon</a></button>
    <button class="filterDiv btn fruits animals"><a href="{% url 'trading' %}">Kiwi</a></button>
    <button class="filterDiv btn fruits"><a href="{% url 'trading' %}">Banana</a></button>
    <button class="filterDiv btn fruits"><a href="{% url 'trading' %}">Lemon</a></button>
    <button class="filterDiv btn animals"><a href="{% url 'trading' %}">Cow</a></button>
</div>




<!-- the "document.location..." code above causes the auto code colouring below to go wrong for some reason -->
<script>

    filterSelection('all')

    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName('filterDiv');
        if (c == 'all')
            c = '';
        for (i = 0; i < x.length; i++) {
            RemoveClass(x[i]);
            if (x[i].className.indexOf(c) > -1)
                x[i].className += ' ' + 'show';
        }
    }

    function RemoveClass(element) {
        var i, arr1;
        arr1 = element.className.split(' ');
        //Removes 'show' from the class name
        if (arr1.indexOf('show') > -1) {
            arr1.splice(-1);
        }
        element.className = arr1.join(' ');
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("filteringContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }




    // Turnover range slider hide / show
    function rangeTurnover() {
        var x = document.getElementById("range-turnover-cont");
        if (x.style.display === "grid") {
            x.style.display = "none";
        }
        else {
            x.style.display = "grid";
        }

        $.ajax({
            url: $(".financials-data").data("url"),
            type: 'GET',
            success: function (data) {

                // [0] is needed to remove the square brackets that encompose the inner curly brackets
                // i.e. it pulls out the inner objects from the outer array container

                $("#turnover-max").html(Intl.NumberFormat('en-GB', {
                    style: 'currency',
                    currency: 'GBP',
                    notation: 'compact',
                    compactDisplay: 'short',
                    minimumFractionDigits: 1,
                    maximumFractionDigits: 1,
                }).format(
                    data.filter((item) => item.year === 2023).sort((a, b) => b.turnover - a.turnover)[0].turnover)
                );

                $("#turnover-min").html(Intl.NumberFormat('en-GB', {
                    style: 'currency',
                    currency: 'GBP',
                    notation: 'compact',
                    compactDisplay: 'short',
                    minimumFractionDigits: 1,
                    maximumFractionDigits: 1,
                }).format(
                    data.filter((item) => item.year === 2023).sort((a, b) => a.turnover - b.turnover)[0].turnover)
                );

                // Previous version without currency formatting
                //$("#turnover-max").html(data.filter((item) => item.year === 2023).sort((a, b) => b.turnover - a.turnover)[0].turnover);
                //$("#turnover-min").html(data.filter((item) => item.year === 2023).sort((a, b) => a.turnover - b.turnover)[0].turnover);

            }
        });
    };


    // Assets range slider hide / show
    function rangeAssets() {
        var x = document.getElementById("range-assets-cont");
        if (x.style.display === "grid") {
            x.style.display = "none";
        }
        else {
            x.style.display = "grid";
        }

        $.ajax({
            url: $(".financials-data").data("url"),
            type: 'GET',
            success: function (data) {

                $("#assets-max").html(Intl.NumberFormat('en-GB', {
                    style: 'currency',
                    currency: 'GBP',
                    notation: 'compact',
                    compactDisplay: 'short',
                    minimumFractionDigits: 1,
                    maximumFractionDigits: 1,
                }).format(
                    data.filter((item) => item.year === 2023).sort((a, b) => b.total_assets - a.total_assets)[0].total_assets)
                );

                $("#assets-min").html(Intl.NumberFormat('en-GB', {
                    style: 'currency',
                    currency: 'GBP',
                    notation: 'compact',
                    compactDisplay: 'short',
                    minimumFractionDigits: 1,
                    maximumFractionDigits: 1,
                }).format(
                    data.filter((item) => item.year === 2023).sort((a, b) => a.total_assets - b.total_assets)[0].total_assets)
                );
            }
        });
    };


    // Operating Profit Margin range slider hide / show
    function rangeProfit() {
        var x = document.getElementById("range-profit-cont");
        if (x.style.display === "grid") {
            x.style.display = "none";
        }
        else {
            x.style.display = "grid";
        }

        $.ajax({
            url: $(".financials-data").data("url"),
            type: 'GET',
            success: function (data) {

                // Range slider is not used here, so percent style can be used; this contrasts to the slider values when moving
                $("#profit-max").html(Intl.NumberFormat('en-GB', {
                    style: 'percent',
                    minimumFractionDigits: 1,
                    maximumFractionDigits: 1,
                }).format(
                    data.filter((item) => item.year === 2023).sort((a, b) => b.operating_margin - a.operating_margin)[0].operating_margin)
                );

                $("#profit-min").html(Intl.NumberFormat('en-GB', {
                    style: 'percent',
                    minimumFractionDigits: 1,
                    maximumFractionDigits: 1,
                }).format(
                    data.filter((item) => item.year === 2023).sort((a, b) => a.operating_margin - b.operating_margin)[0].operating_margin)
                );
            }
        });
    };


    // Free Cash Flow Margin range slider hide / show
    function rangeCashFlow() {
        var x = document.getElementById("range-cashflow-cont");
        if (x.style.display === "grid") {
            x.style.display = "none";
        }
        else {
            x.style.display = "grid";
        }

        $.ajax({
            url: $(".financials-data").data("url"),
            type: 'GET',
            success: function (data) {

                // Range slider is not used here, so percent style can be used; this contrasts to the slider values when moving
                $("#cashflow-max").html(Intl.NumberFormat('en-GB', {
                    style: 'percent',
                    minimumFractionDigits: 1,
                    maximumFractionDigits: 1,
                }).format(
                    data.filter((item) => item.year === 2023).sort((a, b) => b.free_cash_flow_margin - a.free_cash_flow_margin)[0].free_cash_flow_margin)
                );

                $("#cashflow-min").html(Intl.NumberFormat('en-GB', {
                    style: 'percent',
                    minimumFractionDigits: 1,
                    maximumFractionDigits: 1,
                }).format(
                    data.filter((item) => item.year === 2023).sort((a, b) => a.free_cash_flow_margin - b.free_cash_flow_margin)[0].free_cash_flow_margin)
                );
            }
        });
    };


    // Interest Cover range slider hide / show
    function rangeInterestCover() {
        var x = document.getElementById("range-interestcover-cont");
        if (x.style.display === "grid") {
            x.style.display = "none";
        }
        else {
            x.style.display = "grid";
        }

        $.ajax({
            url: $(".financials-data").data("url"),
            type: 'GET',
            success: function (data) {

                $("#interestcover-max").html(Intl.NumberFormat('en-GB', {
                    minimumFractionDigits: 1,
                    maximumFractionDigits: 1,
                }).format(
                    data.filter((item) => item.year === 2023).sort((a, b) => b.interest_cover - a.interest_cover)[0].interest_cover)
                );

                $("#interestcover-min").html(Intl.NumberFormat('en-GB', {
                    minimumFractionDigits: 1,
                    maximumFractionDigits: 1,
                }).format(
                    data.filter((item) => item.year === 2023).sort((a, b) => a.interest_cover - b.interest_cover)[0].interest_cover)
                );
            }
        });
    };


    // Generates Turnover JQuery range slider
    $(document).ready(function () {

        $.ajax({
            url: $(".financials-data").data("url"),
            type: 'GET',
            success: function (data) {
                
                const max = data.filter((item) => item.year === 2023).sort((a, b) => b.turnover - a.turnover)[0].turnover;
                const min = data.filter((item) => item.year === 2023).sort((a, b) => a.turnover - b.turnover)[0].turnover;
                const leftstart = (4 * min + max) / 5;
                const rightstart = (4 * max + min) / 5;

                $("#range-slider-turnover").slider({
                    range: true,
                    min: min,
                    max: max,
                    values: [leftstart, rightstart],
                    slide: function (event, ui) {
                        // $("#turnover").val("$" + ui.values[0] + " - $" + ui.values[1]);
                        // FractionDigits specify the number of decimal places
                        $("#turnover").val(
                            Intl.NumberFormat('en-GB', {
                                style: 'currency',
                                currency: 'GBP',
                                notation: 'compact',
                                compactDisplay: 'short',
                                minimumFractionDigits: 1,
                                maximumFractionDigits: 1,
                            }).format(ui.values[0]) +

                            " to " +

                            Intl.NumberFormat('en-GB', {
                                style: 'currency',
                                currency: 'GBP',
                                notation: 'compact',
                                compactDisplay: 'short',
                                minimumFractionDigits: 1,
                                maximumFractionDigits: 1,
                            }).format(ui.values[1])
                        );
                    }
                });

                // Initial values shown before range slider buttons are used
                $("#turnover").val(
                    Intl.NumberFormat('en-GB', {
                        style: 'currency',
                        currency: 'GBP',
                        notation: 'compact',
                        compactDisplay: 'short',
                        minimumFractionDigits: 1,
                        maximumFractionDigits: 1,
                    }).format($("#range-slider-turnover").slider("values", 0)) +

                    " to " +

                    Intl.NumberFormat('en-GB', {
                        style: 'currency',
                        currency: 'GBP',
                        notation: 'compact',
                        compactDisplay: 'short',
                        minimumFractionDigits: 1,
                        maximumFractionDigits: 1,
                    }).format($("#range-slider-turnover").slider("values", 1))

                );

            }

        });

    });


    // Generates Assets range slider
    $(document).ready(function () {

        $.ajax({
            url: $(".financials-data").data("url"),
            type: 'GET',
            success: function (data) {

                const max = data.filter((item) => item.year === 2023).sort((a, b) => b.total_assets - a.total_assets)[0].total_assets;
                const min = data.filter((item) => item.year === 2023).sort((a, b) => a.total_assets - b.total_assets)[0].total_assets;
                const leftstart = (4 * min + max) / 5;
                const rightstart = (4 * max + min) / 5;

                $("#range-slider-assets").slider({
                    range: true,
                    min: min,
                    max: max,
                    values: [leftstart, rightstart],
                    slide: function (event, ui) {
                        // FractionDigits specify the number of decimal places
                        $("#assets").val(
                            Intl.NumberFormat('en-GB', {
                                style: 'currency',
                                currency: 'GBP',
                                notation: 'compact',
                                compactDisplay: 'short',
                                minimumFractionDigits: 1,
                                maximumFractionDigits: 1,
                            }).format(ui.values[0]) +

                            " to " +

                            Intl.NumberFormat('en-GB', {
                                style: 'currency',
                                currency: 'GBP',
                                notation: 'compact',
                                compactDisplay: 'short',
                                minimumFractionDigits: 1,
                                maximumFractionDigits: 1,
                            }).format(ui.values[1])
                        );
                    }
                });

                // Initial values shown before range slider buttons are used
                $("#assets").val(
                    Intl.NumberFormat('en-GB', {
                        style: 'currency',
                        currency: 'GBP',
                        notation: 'compact',
                        compactDisplay: 'short',
                        minimumFractionDigits: 1,
                        maximumFractionDigits: 1,
                    }).format($("#range-slider-assets").slider("values", 0)) +

                    " to " +

                    Intl.NumberFormat('en-GB', {
                        style: 'currency',
                        currency: 'GBP',
                        notation: 'compact',
                        compactDisplay: 'short',
                        minimumFractionDigits: 1,
                        maximumFractionDigits: 1,
                    }).format($("#range-slider-assets").slider("values", 1))

                );

            }

        });

    });


    // Generates Operarating Profit Margin range slider
    $(document).ready(function () {

        $.ajax({
            url: $(".financials-data").data("url"),
            type: 'GET',
            success: function (data) {
                // JQuery slider cannot manage numbers less than 1 well, so profit margin is multiplied by 100 here
                const max = 100 * (data.filter((item) => item.year === 2023).sort((a, b) => b.operating_margin - a.operating_margin)[0].operating_margin);
                const min = 100 * (data.filter((item) => item.year === 2023).sort((a, b) => a.operating_margin - b.operating_margin)[0].operating_margin);
                const leftstart = (4 * min + max) / 5;
                const rightstart = (4 * max + min) / 5;

                $("#range-slider-profit").slider({
                    range: true,
                    min: min,
                    max: max,
                    values: [leftstart, rightstart],
                    slide: function (event, ui) {
                        $("#profit").val(
                            Intl.NumberFormat('en-GB', {
                                minimumFractionDigits: 1,
                                maximumFractionDigits: 1,
                            }).format(ui.values[0]) +

                            "% to " +

                            Intl.NumberFormat('en-GB', {
                                minimumFractionDigits: 1,
                                maximumFractionDigits: 1,
                            }).format(ui.values[1]) +

                            "%"
                        );
                    }
                });

                // Initial values shown before range slider buttons are used
                $("#profit").val(
                    Intl.NumberFormat('en-GB', {
                        minimumFractionDigits: 1,
                        maximumFractionDigits: 1,
                    }).format($("#range-slider-profit").slider("values", 0)) +

                    "% to " +

                    Intl.NumberFormat('en-GB', {
                        minimumFractionDigits: 1,
                        maximumFractionDigits: 1,
                    }).format($("#range-slider-profit").slider("values", 1)) +

                    "%"

                );

            }

        });

    });


    // Generates Free Cash Flow Margin range slider
    $(document).ready(function () {

        $.ajax({
            url: $(".financials-data").data("url"),
            type: 'GET',
            success: function (data) {
                // JQuery slider cannot manage numbers less than 1 well, so free cash flow margin is multiplied by 100 here
                const max = 100 * (data.filter((item) => item.year === 2023).sort((a, b) => b.free_cash_flow_margin - a.free_cash_flow_margin)[0].free_cash_flow_margin);
                const min = 100 * (data.filter((item) => item.year === 2023).sort((a, b) => a.free_cash_flow_margin - b.free_cash_flow_margin)[0].free_cash_flow_margin);
                const leftstart = (4 * min + max) / 5;
                const rightstart = (4 * max + min) / 5;
                // Because %s are multiplied by 100, the '%' sign is manually added in
                $("#range-slider-cashflow").slider({
                    range: true,
                    min: min,
                    max: max,
                    values: [leftstart, rightstart],
                    slide: function (event, ui) {
                        $("#cashflow").val(
                            Intl.NumberFormat('en-GB', {
                                minimumFractionDigits: 1,
                                maximumFractionDigits: 1,
                            }).format(ui.values[0]) +

                            "% to " +

                            Intl.NumberFormat('en-GB', {
                                minimumFractionDigits: 1,
                                maximumFractionDigits: 1,
                            }).format(ui.values[1]) +

                            "%"
                        );
                    }
                });

                // Initial values shown before range slider buttons are used
                $("#cashflow").val(
                    Intl.NumberFormat('en-GB', {
                        minimumFractionDigits: 1,
                        maximumFractionDigits: 1,
                    }).format($("#range-slider-cashflow").slider("values", 0)) +

                    "% to " +

                    Intl.NumberFormat('en-GB', {
                        minimumFractionDigits: 1,
                        maximumFractionDigits: 1,
                    }).format($("#range-slider-cashflow").slider("values", 1)) +

                    "%"

                );

            }

        });

    });


    // Generates Interest Cover Ratio range slider
    $(document).ready(function () {

        $.ajax({
            url: $(".financials-data").data("url"),
            type: 'GET',
            success: function (data) {
                // JQuery slider cannot manage numbers less than 1 well, so interest cover is multiplied by 100 here
                const max = 100 * (data.filter((item) => item.year === 2023).sort((a, b) => b.interest_cover - a.interest_cover)[0].interest_cover);
                const min = 100 * (data.filter((item) => item.year === 2023).sort((a, b) => a.interest_cover - b.interest_cover)[0].interest_cover);
                const leftstart = (4 * min + max) / 5;
                const rightstart = (4 * max + min) / 5;
                // Because %s are multiplied by 100, the '%' sign is manually added in
                $("#range-slider-interestcover").slider({
                    range: true,
                    min: min,
                    max: max,
                    values: [leftstart, rightstart],
                    slide: function (event, ui) {
                        $("#interestcover").val(
                            Intl.NumberFormat('en-GB', {
                                minimumFractionDigits: 1,
                                maximumFractionDigits: 1,
                            }).format(ui.values[0] / 100) +

                            " to " +

                            Intl.NumberFormat('en-GB', {
                                minimumFractionDigits: 1,
                                maximumFractionDigits: 1,
                            }).format(ui.values[1] / 100)

                        );
                    }
                });

                // Initial values shown before range slider buttons are used
                $("#interestcover").val(
                    Intl.NumberFormat('en-GB', {
                        minimumFractionDigits: 1,
                        maximumFractionDigits: 1,
                    }).format($("#range-slider-interestcover").slider("values", 0) / 100) +

                    " to " +

                    Intl.NumberFormat('en-GB', {
                        minimumFractionDigits: 1,
                        maximumFractionDigits: 1,
                    }).format($("#range-slider-interestcover").slider("values", 1) / 100)

                );

            }

        });

    });


</script>




{% endblock %}

