{% extends "app/layout.html" %}

{% block content %}

{% load static %}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>




<!-- filtering elements -->
<div id="filteringBtnContainer">
    <button class="btn btn-default" onclick="filterSelection('all')"> Show all</button>
    <button class="btn btn-default " onclick="filterSelection('cars')"> Cars</button>
    <button class="btn btn-default " onclick="filterSelection('animals')"> Animals</button>
    <button class="btn btn-default " onclick="filterSelection('fruits')"> Fruits</button>
    <button class="btn btn-default " onclick="filterSelection('colors')"> Colors</button>
</div>


<!-- range slider and hide / show toggle button -->
<div class="dropdown">
    <input type="checkbox" id="checkbox-toggle">
    <label for="checkbox-toggle">Click to Expand</label>
    <ul>
        <li><button onclick="rangeHideFcn()">Link One</button></li>
        <li><button onclick="rangeHideFcn()">Link Two</button></li>
        <li><button onclick="rangeHideFcn()">Link Three</button></li>
        <li><button onclick="rangeHideFcn()">Link Four</button></li>
    </ul>
</div>

<input type="range" min="0" max="100" value="50" id="myRange">



<div id="filteringContainer">
    <!-- the link div <a> is not used and instead the link is added to a button div's onclick action -->
    <button class="filterDiv btn cars" onclick="document.location={% url 'trading' %}"><figure><img src="{% static 'app/images/Board game company logo.svg' %}" width=150 height=150 alt=""><figcaption>Board Game Company</figcaption></figure></button>
    <button class="filterDiv btn colors fruits" onclick="document.location={% url 'trading' %}"><figure><img src="{% static 'app/images/Pizza company logo.svg' %}" width=150 height=150 alt=""><figcaption>Pizza Company</figcaption></figure></button>
    <button class="filterDiv btn cars" onclick="document.location={% url 'trading' %}"><figure><img src="{% static 'app/images/Building materials company logo.svg' %}" width=150 height=150 alt=""><figcaption>Building Materials<br>Company</figcaption></figure></button>
    <button class="filterDiv btn colors" onclick="document.location={% url 'trading' %}"><figure><img src="{% static 'app/images/Chemicals company logo.svg' %}" width=150 height=150 alt=""><figcaption>Chemicals Company</figcaption></figure></button>
    <button class="filterDiv btn cars"><a href="{% url 'trading' %}">Ford</a></button>
    <button class="filterDiv btn colors"><a href="{% url 'trading' %}">Blue</a></button>
    <button class="filterDiv btn animals"><a href="{% url 'trading' %}">Cat</a></button>
    <button class="filterDiv btn animals"><a href="{% url 'trading' %}">Dog</a></button>
    <button class="filterDiv btn fruits"><a href="{% url 'trading' %}">Melon</a></button>
    <button class="filterDiv btn fruits animals"><a href="{% url 'trading' %}">Kiwi</a></button>
    <button class="filterDiv btn fruits"><a href="{% url 'trading' %}">Banana</a></button>
    <button class="filterDiv btn fruits"><a href="{% url 'trading' %}">Lemon</a></button>
    <button class="filterDiv btn animals"><a href="{% url 'trading' %}">Cow</a></button>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.0/chart.umd.js"></script>

<!-- the "document.location..." code above causes the auto code colouring below to go wrong -->
<script>
    
    filterSelection('all')

    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName('filterDiv');
        if (c == 'all')
            c = '';
        for (i = 0; i < x.length; i++) {
            RemoveClass(x[i]);
            if (x[i].className.indexOf(c) > -1)
                x[i].className += ' ' + 'show';
        }
    }

    function RemoveClass(element) {
        var i, arr1;
        arr1 = element.className.split(' ');
        //Removes 'show' from the class name
        if (arr1.indexOf('show') > -1) {
            arr1.splice(-1);
        }
        element.className = arr1.join(' ');
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }

    // Range slider and hide / show toggle button
    function rangeHideFcn() {
        var x = document.getElementById("myRange");
        if (x.style.display === "inline-block") {
            x.style.display = "none";
        } else {
            x.style.display = "inline-block";
        }
    }

</script>


{% endblock %}
