{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.0/chart.umd.js"></script>

<!-- menu chart JS -->
<!--
<canvas class="grid-item" id="menu-chart" style="width:100%; max-width:1000px" data-url="{% url 'menu-chart' %}"></canvas>
<script>

    //JS here so JS commenting applies
    $(function () {

        var $menuChart = $("#menu-chart"); // jQuery #id selector to find specific element
        $.ajax({
            url: $menuChart.data("url"), //jQuery standard element selector
            success: function (data) {

                var ctx = $menuChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Menu',
                            backgroundColor: 'rgba(127, 127, 127, 1.0)',
                            data: data.data
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Total menu prices'
                        }
                    }
                });
            }
        });
    });
</script>
-->

<!-- bidding chart JS -->
<!--
<canvas class="grid-item" id="bidding-chart" style="width: 100%; max-width: 800px; max-height: 500px" data-url="{% url 'bidding-chart' %}"></canvas>
<script>

    //JS here so JS commenting applies
    $(function () {

        var $biddingChart = $("#bidding-chart"); // jQuery #id selector to find specific element
        $.ajax({
            url: $biddingChart.data("url"), //jQuery standard element selector
            success: function (data) {

                var ctx = $biddingChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        //labels: data.labels,
                        datasets: [
                            {
                                showLine: true,
                                pointStyle: false,
                                //pointBorderColor: 'rgba(127, 127, 127, 1.0)',
                                //pointBorderWidth: 2,
                                //pointRadius: 5,
                                lineBorderColor: 'rgba(127, 127, 127, 1.0)',
                                lineBorderWidth: 2,
                                data: data,
                            },
                            {
                                showLine: true,
                                pointStyle: false,
                                lineBorderColor: 'rgba(64, 64, 64, 1.0)',
                                lineBorderWidth: 2,
                                lineBorderDash: [10, 10],
                                data: [
                                    { x: 0, y: 1100 },
                                    { x: 5000, y: 1100 }]
                            },
                            {
                                showLine: true,
                                pointStyle: false,
                                lineBorderColor: 'rgba(64, 64, 64, 1.0)',
                                lineBorderWidth: 2,
                                lineBorderDash: [10, 10],
                                data: [
                                    { x: 0, y: 2300 },
                                    { x: 5000, y: 2300 }]
                            }

                        ]
                    },
                    options: {
                        /*elements: {
                            point: {
                                pointStyle: 'rect',
                                borderColor: 'rgba(127, 127, 127, 1.0)',
                                borderWidth: 1,
                                radius: 5,
                            },
                            line: {
                                borderWidth: 1.0,
                                borderColor: 'rgba(127, 127, 127, 1.0)',
                            }
                        },*/
                        scales: {
                            x: {
                                type: 'linear',
                                min: 0,
                                ticks: {
                                    stepSize: 100,
                                }
                            },
                            y: {
                                type: 'linear',
                                min: 0,
                                max: 2500,
                                ticks: {
                                    stepSize: 100,
                                }
                            }
                        },
                        plugins: {
                            responsive: true,
                            legend: {
                                display: false,
                            },
                            title: {
                                display: true,
                                text: 'Bids over time',
                                font: {
                                    size: 24,
                                    style: 'bold',
                                    family: 'IBM Plex Sans'
                                }
                            }
                        }
                    }

                });
            }
        });
    });
</script>
-->

<!-- bidding chart2, includes animation JS -->
<script>

    //JS here so JS commenting applies
    $(function () {

        const $biddingChart = $("#bidding-chart2"); // jQuery #id selector to find specific element; .data() then attaches 'url' object to selected, search for 'jquery .data()' for more

        $.ajax({
            url: $biddingChart.data("url"), //jQuery standard element selector
            success: function (data) {

                const ctx = $biddingChart[0].getContext("2d");

                // '?' is an inline JS IF statment, with ':' being equivalent to the ELSE part; see 'Conditional (ternary) operator' for further details
                // the 100 value is the y start point at t=0, which doesn't seem to work...
                const totalDuration = 2000;
                const delayBetweenPoints = totalDuration / data.length;
                const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart.getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;
                const animation = {
                    x: {
                        type: 'number',
                        easing: 'linear',
                        duration: delayBetweenPoints,
                        from: NaN, // the point is initially skipped
                        delay(ctx) {
                            if (ctx.type !== 'data' || ctx.xStarted) {
                                return 0;
                            }
                            ctx.xStarted = true;
                            return ctx.index * delayBetweenPoints;
                        }
                    },
                    y: {
                        type: 'number',
                        easing: 'linear',
                        duration: delayBetweenPoints,
                        from: previousY,
                        delay(ctx) {
                            if (ctx.type !== 'data' || ctx.yStarted) {
                                return 0;
                            }
                            ctx.yStarted = true;
                            return ctx.index * delayBetweenPoints;
                        }
                    }
                };

                new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        datasets: [
                            {
                                showLine: true,
                                pointStyle: false,
                                lineBorderColor: 'rgba(127, 127, 127, 1.0)',
                                lineBorderWidth: 2,
                                data: data,
                                parsing: {
                                    xAxisKey: 'id',
                                    yAxisKey: 'bid_value'
                                }
                            },
                            {
                                showLine: true,
                                pointStyle: false,
                                lineBorderColor: 'rgba(64, 64, 64, 1.0)',
                                lineBorderWidth: 2,
                                lineBorderDash: [10, 10],
                                data: [
                                    { x: 0, y: 1100 },
                                    { x: 5000, y: 1100 }]
                            },
                            {
                                showLine: true,
                                pointStyle: false,
                                lineBorderColor: 'rgba(64, 64, 64, 1.0)',
                                lineBorderWidth: 2,
                                lineBorderDash: [10, 10],
                                data: [
                                    { x: 0, y: 2300 },
                                    { x: 5000, y: 2300 }]
                            }

                        ]
                    },
                    options: {
                        animation,
                        scales: {
                            x: {
                                type: 'linear',
                                min: 0,
                                ticks: {
                                    stepSize: 100,
                                }
                            },
                            y: {
                                type: 'linear',
                                min: 0,
                                max: 2500,
                                ticks: {
                                    stepSize: 100,

                                }
                            }
                        },
                        plugins: {
                            responsive: true,
                            legend: {
                                display: false,
                            },
                            //this title within Chartjs is not currently used and a h3 div is used instead, as Chartjs text appears slightly blurred
                            title: {
                                display: false,
                                text: 'Bids over time',
                                color: 'rgba(51, 51, 51, 1.0)',
                                font: {
                                    size: 24,
                                    style: 'bold',
                                    family: 'IBM Plex Sans'
                                }
                            }
                        }
                    }
                });
            }
        });
    });
</script>

<form id="trading-chart-container" method="post">
    {% csrf_token %}
    <div class="trading-chart-child" id="trading-chart-child-chart" style="width: 100%; max-width: 800px; max-height: 500px">
        <h3 style="font-weight: bold; text-align: center">Bids Over Time</h3>
        <canvas id="bidding-chart2" data-url="{% url 'bidding-chart2' %}"></canvas>
    </div>
    <label class="trading-chart-child" id="trading-chart-child-lastpricetext">Last price achieved:</label>
    <div class="trading-chart-child" id="trading-chart-child-lastpricevalue">Not applicable - primary issuance auction</div>
    <label class="trading-chart-child" id="trading-chart-child-datelastpricetext">On:</label>
    <div class="trading-chart-child" id="trading-chart-child-datelastpricevalue">Not applicable - primary issuance auction</div>
    <label class="trading-chart-child" id="trading-chart-child-currentbidpricetext">Current auction bid price:</label>
    <div class="trading-chart-child" id="trading-chart-child-currentbidpricevalue" data-url="{% url 'trading-chart-child-currentbidpricevalue' %}">CURRENT AUCTION BID PRICE VALUE - SOURCE FROM DATABASE</div>
    <label class="trading-chart-child" id="trading-chart-child-numberbondssaletext">Number of bonds offered for sale:</label>
    <div class="trading-chart-child" id="trading-chart-child-numberbondssalevalue">500</div>
    <label class="trading-chart-child" id="trading-chart-child-numberbondsbuytext">Number of bonds to purchase:</label>
    <input class="trading-chart-child form-control" id="trading-chart-child-numberbondsbuyvalue" type="number" name="volume" placeholder="Enter here">
    <label class="trading-chart-child" id="trading-chart-child-bidpricetext">Bid price:</label>
    <input class="trading-chart-child form-control" id="trading-chart-child-bidpricevalue" type="number" name="bid_value" placeholder="Enter here">
    <label class="trading-chart-child" id="trading-chart-child-totalcosttext">Total bidding cost:</label>
    <div class="trading-chart-child" id="trading-chart-child-totalcostvalue">TOTAL BIDDING COST VALUE - RESULT OF OTHER USER ENTERED VALUES</div>
    <button class="trading-chart-child btn btn-default" id="trading-chart-child-submitbutton" type="submit">Submit Bid</button>
</form>


<!-- bidding information -->
<script>

    // Current auction price data sourcing
    
    $(function () {
        $.ajax({
            url: $("#trading-chart-child-currentbidpricevalue").data("url"),
            type: 'GET',
            success: function (data) {

                myObj = data;

                myObj.sort((a, b) => b.bid_value - a.bid_value);

                myObj.forEach((element) => {
                    element.sumvol = 0
                });
                myObj[0].sumvol = myObj[0].volume;

                for (let i = 0; i < myObj.length - 1; i++) {
                    myObj[i + 1].sumvol = myObj[i + 1].volume + myObj[i].sumvol;
                }
                const bid500 = myObj.find(element => element.sumvol >= 500).bid_value.toLocaleString('en-GB', { style: 'currency', currency: 'GBP', maximumFractionDigits: 0 });

                //const bid500 = data[data.length - 500].bid_value.toLocaleString('en-GB', { style: 'currency', currency: 'GBP', maximumFractionDigits: 0 });
                $("#trading-chart-child-currentbidpricevalue").html(bid500);
            }
        });
    });
    

    // Submit bid execution
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    $(function () {
        $("#trading-chart-child-submitbutton").click(function (e) {
            e.preventDefault();
            console.log('submitting to', $("#trading-chart-child-currentbidpricevalue").data("url"), $("#trading-chart-child-numberbondsbuyvalue").val())

            $.ajax({
                url: $("#trading-chart-child-currentbidpricevalue").data("url"),
                type: "POST",
                data: { id: 4939, volume: $("#trading-chart-child-numberbondsbuyvalue").val(), bid_value: $("#trading-chart-child-bidpricevalue").val() },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                },
                success: function (data) {
                    //data.sort(function (a, b) { return a.y - b.y });
                    //const bid500 = data[data.length - 500].y.toLocaleString('en-GB', { style: 'currency', currency: 'GBP', maximumFractionDigits: 0 });
                    //$("#trading-chart-child-currentbidpricevalue").html(bid500);
                    
                    $("#testdiv").text(JSON.stringify(data[4939].bid_value));
                }
            });
            
        });
    });
    

</script>


<div id="testdiv">Test text</div>


{% endblock content %}

